.DS_Store
.env
# because reads the requirements first and I haven't hit stretch

# requirements.txt
make_world.py


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Django stuff:
*.log
local_settings.py
db.sqlite3

tmp